.avatar-with-bubble
  img(ng-src="{{$ctrl.avatar.url}}", src=require('../../../images/throbber-amber.svg'), fallback-src=require('../../../images/user.png'), alt="{{ 'Avatar' | translate }}")
  user-status-bubble(ng-if="$ctrl.displayUserStatus()", user-id="$ctrl.avatar.id")
